* {
    box-sizing: border-box;
}

body,
html {
    display: block;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.cvl-Container {
    display: flex;
    width: 100%;
    height: 100%;
}

.cvl-Sidebar {
    padding: 0 15px;
    width: 350px;
    overflow: scroll;
    margin-bottom: 15px;
}

.cvl-Sidebar--label {
    font-weight: 400;
    font-size: 12px;
    margin-right: 10px;
}

.cvl-Logo {
    display: flex;
}

.cvl-Logo-Title {
    text-transform: uppercase;
    padding: 0 15px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(23, 133, 251);
}

.cvl-Logo-Image {
    width: 28px;
}

.cvl-Logo-Link {
    font-size: 12px;
    text-decoration: none;
    color: rgb(23, 133, 251);
}

.cvl-Logo-Link:visited,
.cvl-Logo-Link:focus {
    color: rgb(23, 133, 251);
}

.cvl-Sidebar--BasemapConfig {
    display: flex;
    font: 400 12px system-ui;
}

.cvl-Sidebar--BasemapConfig label {
    margin: 10px 15px 0 0;
}

.cvl-Sidebar--Config {
    display: flex;
    flex-direction: column;
}

.cvl-Sidebar--Input {
    box-shadow: rgb(209, 213, 215) 0px 0px 0px 1px inset;
    margin: 5px 0;
    box-sizing: border-box;
    color: rgb(44, 44, 44);
    min-height: 32px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-color: rgb(23, 133, 251);
    padding: 6px 8px;
    resize: vertical;
}

.cvl-Sidebar-RadioButtonContainer {
    display: flex;
    align-items: center;
    font: 400 12px system-ui;
    margin: 5px 0;
}

.cvl-Sidebar--RadioButtonContainer label {
    margin: 10px 15px 0 0;
}

.cvl-Sidebar--RadioButton {
    display: inline-block;
    font-size: 12px;
}

.cvl-Sidebar--Textarea,
.cvl-Main--Textarea {
    width: 100%;
    font-family: Monospace;
    resize: vertical;
    font-size: 16px;
}

.cvl-Small--Textarea {
    font-size: 12px;
}

.cvl-Debugger {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    overflow: scroll;
    background-color: rgba(218, 22, 22, 0.6);
    color: #ffffff;
    padding: 30px;
    font-size: 14px;
    display: none;
    max-height: 400px;
}

.cvl-ButtonList {
    display: flex;
    flex-wrap: wrap;
}

.cvl-ButtonList button {
    -webkit-font-smoothing: antialiased;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: none;
    color: rgb(23, 133, 251);
    cursor: pointer;
    display: inline-flex;
    vertical-align: top;
    background: transparent;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(23, 133, 251);
    border-image: initial;
    margin: 5px 5px 5px 0;
    padding: 6px 12px;
    transition: background 0.2s ease;
}

.cvl-ButtonList--Primary button {
    -webkit-font-smoothing: antialiased;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    vertical-align: top;
    background: rgb(23, 133, 251);
    border-radius: 4px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 5px 10px 5px 0;
    padding: 6px 12px;
    transition: background 0.2s ease;
}

.cvl-Main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.loader {
    left: 0;
    right: 0;
    height: 5px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 5px;
    background-color: rgb(23, 133, 251);
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}

.cvl-Main--MapWrapper {
    position: relative;
    flex: 1;
}

.map {
    height: 100%;
}

.cvl-MapInfo {
    position: absolute;
    bottom: 0;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
}

.cvl-FeaturesInfo {
    position: absolute;
    top: 0;
    right: 0;
    position: absolute;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
}
